.env
venv/*
alembic/*
games/*
**__pycache__**
static/assets/img/itemdb/*
static/assets/img/npcdb/*
static/assets/img/user-upload/*
static/assets/clans/*/lb/*
*.doctree
lootboard/themes/*
alembic.ini
app_logs.json
.cursor/*
static/assets/img/clans/*
static/assets/img/clans/2/lb/*.png
data/logs/app_logs.json
static/assets/img/clans/2/lb/04-10-2025.png